<div class="container p-3">
  <div class="row">
    <div class="col-md-7">
      <div class="bg-info text-white p-2" *ngIf="selectedProduct">
        Selected Product: {{ selectedProduct.name || '(None Selected)'}}
      </div>

      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th style="width: 150px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products"
          [class.bg-info]="getSelected(product)">
            <td> {{ product.id }}</td>
            <td>
              <img src="./assets/img/{{product.imageUrl}}" alt="{{product.name}}" width="120">
            </td>
            <td> {{ product.name }}</td>
            <td> {{ product.price }}</td>
            <td>
              <button class="btn btn-danger btn-sm">Delete</button> ||
              <button (click)="updateProduct(product)" class="btn btn-warning btn-sm">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5" *ngIf="selectedProduct">
      <div class="form-group">
        <label for="ProductName">Product Name</label>
        <input [(ngModel)]="selectedProduct.name" type="text" class="form-control" id="ProductName">
      </div>
      <div class="form-group">
        <label for="ProductPrice">Product Price</label>
        <input [(ngModel)]="selectedProduct.price" type="text" class="form-control" id="ProductPrice">
      </div>
      <div class="form-group">
        <label for="ProductImageUrl">Product ImageUrl</label>
        <input [(ngModel)]="selectedProduct.imageUrl" type="text" class="form-control" id="ProductImageUrl">
      </div>
      <div class="form-group">
        <label for="ProductDescription">Product Description</label>
        <textarea [(ngModel)]="selectedProduct.description" type="text" class="form-control" id="ProductDescription"></textarea>
      </div>
      <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
    </div>
  </div>
</div>
